.sport-home .box {
  margin-bottom: 30px;
  margin-left: 2px;
}
.sport-home .text {
  padding: 0 30px;
}
.sport-home .images {
  width: 320px;
  height: 220px;
}
.sport-home img {
  width: 320px;
  height: 220px;
  object-fit: cover;
}
.sport-home h1 {
  font-size: 22px;
}
.sport-home a {
  color: black;
}

.items .box {
  justify-content: left;
}

@media screen and (max-width: 768px) {
  .sport img,
  .sport .images {
    height: 350px;
  }
}
