.news .news-content {
  display: flex;
  flex-direction: column;
  /* height: 35rem; */
  border: 1px solid black;
  margin: 15px 15px 15px 0;
  overflow: hidden;
  border-radius: 1%;
  box-shadow: 5px 10px 5px gray;
}

.news .text .title {
  height: 52px;
  overflow: hidden;
  border-bottom: 1px solid;
  padding-left: 5px;
  background-color: #fb4c35;
  color: #fff;
}

.news .images .img img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.news-content .description {
  display: flex;
  padding: 0 10px;
  height: 140px;
  overflow: hidden;
  align-items: center;
}

.news .news-content .text .date,
.news .news-content .text .author {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.business-home a {
  color: black;
}

.news .news-content .text .news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.read-more a {
  padding: 6px 12px;
  background-color: #e53935;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap; /* Prevents text from wrapping */
}

.read-more a:hover {
  background-color: #c62828;
}
