.news .news-content {
  height: 35rem;
  margin: 15px 15px 15px 0;
  overflow: hidden;
  border-radius: 1%;
}
.news .images .img img {
  width: 100%;
  height: 15rem;
}
.news-content .description {
  padding: 20px;
}

.business-home a {
  color: black;
}
