.head {
  cursor: pointer;
}
.head .logo img {
  width: 70px;
}

.home-header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header .navbar {
  display: flex;
  margin-right: 30px;
  transition: 0.5s;
  gap: 40px;
}

.navbar a {
  color: #fff;
  transition: 0.5s;
  font-size: 20px;
}

.navbar a:hover,
.navbar a.active {
  color: #fb4c35;
  cursor: pointer;
}

.home-header a {
  color: #fff;
}

.menu-icon {
  font-size: 30px;
  background: none;
  color: #fff;
  display: none;
  border: none;
}

.paddingTB {
  padding: 10px 0;
}

@media screen and (max-width: 1440px) {
  header .navbar {
    display: flex;
    transition: 0.5s;
    gap: 20px;
  }
}

@media screen and (max-width: 1242px) {
  header .navbar {
    gap: 15px;
  }
}

@media screen and (max-width: 1070px) {
  .head .flexSB {
    justify-content: center;
  }
  .home-header {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-header .search-form {
    display: flex;
    align-items: center;
  }
  .head .logo {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .home-header .navbar {
    display: none;
  }

  .home-header .navbar-active {
    display: flex;
    flex-direction: column;
    padding: 1rem 4%;
    background: black;
    left: 0;
  }

  .home-header .navbar-active a {
    font-size: 20px;
    color: #ededed;
    font-weight: 500;
    transition: 0.3s;
  }

  .navbar-active a.active {
    color: #fb4c35;
  }
}
