.general-home .box {
  background-color: #fff;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  margin: 15px 15px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.general-home .images {
  position: relative;
  height: 150px;
}
.general-home img {
  width: 158px;
  height: 150px;
  object-fit: cover;
}
.general-home .text .title {
  display: flex;
  height: 72px;
  padding: 20px 20px;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}
.general-home .date {
  margin-top: 15px;
}

.general-home .author {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.general-home a {
  color: black;
}

.general-home .content .items .author,
.general-home .content .items .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 20px;
}

/*-------------Mobile-----------*/
@media screen and (max-width: 1440px) {
  .general-home .text .title {
    font-size: 15px;
  }

  .general-home .date {
    margin-top: 5px;
  }

  .general-home .text .title {
    display: flex;
    padding: 0 10px;
    margin-top: 10px;
  }

  .general-home .content .items .author,
  .general-home .content .items .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 10px;
  }

  /* .general-home .content .items .author label,
  .general-home .content .items .date label {
    font-size: 12px;
  } */
}

@media screen and (max-width: 1080px) {
  .general-home .box {
    flex-direction: column;
  }

  .general-home img {
    width: 100%;
  }

  .general-home .text .title {
    font-size: 15px;
  }

  .general-home .date {
    margin-top: 5px;
  }

  .general-home .text .title {
    display: flex;
    padding: 0 10px;
    margin-top: 10px;
  }

  .general-home .content .items .author,
  .general-home .content .items .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 10px;
  }

  /* .general-home .content .items .author label,
  .general-home .content .items .date label {
    font-size: 12px;
  } */
}
